body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightgray;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.menu a {
  color: #000000;
}

.menu {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.menu li:hover {
  background-color: #c51313;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.Middle {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

.Middle a {
  display: inline-block;
  margin: 10px;
}

.footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.footNav {
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin: 5px 0;
  }

  .Middle h1 {
    font-size: 1.5em;
  }

  .footer {
    font-size: 1em;
  }

  .footNav {
    font-size: 1em;
  }
}
