body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  background-color: #61677a;
}

.menu a {
  color: #000000;
}

.menu {
  display: flex;
  font-size: 18px;
}
.section-1 {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  position: relative;
}

.section-1 h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-1 p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 190%);
}

.menu li:hover {
  background-color: #c51313;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
  list-style: none;
}

.footer {
  background-color: #61677a;
  width: 100%;
  margin-top: auto;
  text-align: center;
  font-size: 80px;
  max-height: 100vh;
}

.footNav {
  background-color: #ffffff;
  width: 100%;
  margin-top: auto;
  text-align: center;
  font-size: 10px;
}

.footer .fa-github,
.footer .fa-linkedin,
.footer .fa-hackerrank,
.footer .fa-envelope,
.footer .fa-instagram {
  color: black;
}

@media (max-width: 375px) {
  .menu {
    font-size: 14px;
  }

  .section-1 h1,
  .section-1 p {
    font-size: 20px;
  }

  .footer {
    font-size: 14px;
  }

  .footNav {
    font-size: 5px;
  }
}
